.select {
  height: 52px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 1rem;
  border-radius: 12px;
  font-size: 1rem;
  border: 1px solid black;
  font-weight: bold;
  cursor: pointer;
}
